
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
env/
.venv/
.ipynb_checkpoints/

# Validations & Testing
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.tox/

# VS Code
.vscode/

# Mac
.DS_Store

# Datasets (Large files)
emails.csv
blogtext.csv
IMDB Dataset.csv
*.jsonl
*.zip
*.tar.gz
*.csv

# Results and Models
results/
results_*/
models/
*.pth
*.bin
*.pkl
*.safetensors
*.h5

# Machine Learning Artifacts
wandb/
runs/
lightning_logs/
checkpoint/

# Packaging
build/
dist/
*.egg-info/

# Project Specific
archive/
legacy/
paper_resources/*.pdf
paper_resources/*.docx

# Logs
*.log
